<%- include("header") -%>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compose</title>
    </head>

    <body>
        <h1 class="pageTitle">Compose</h1>
        <form class="" action="/compose" method="POST">
            <div class="form-group">
                <label for="compose">Title</label>
                <input class="form-control" type="text" name="titleGiven" placeholder="Title" required>
                <label for="post">Post</label>
                <textarea class="form-control" name="contentGiven" cols="40" rows="5" required> </textarea>
            </div>
            <button class="btn btn-primary" type="submit" name="submit">Publish</button>
        </form>
    </body>

    </html>

    <%- include("footer") -%>