<%- include("header") -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="homeTitle">
    <p>Home</p>
    <a class="link" href="/compose">Compose</a>
    </div>

    <div class="postContainer">
    <% postsArray.forEach(function(post){ %>

        <h4> <%= post.title; %> </h4>
        <p> <%= post.content; %> </p>

    <% }); %>
    </div>

</body>
</html>

<%- include("footer") -%>